header {
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }
}

.nav-list__item {
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
  }
}
